body {
  display: block;
  margin: 0;
}
head {
  display: none;
}
link {
  display: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
input[type="text"] {
  color: white;
  background: linear-gradient(
    168.44deg,
    rgba(46, 51, 90, 0.26) 1.62%,
    rgba(28, 27, 51, 0.26) 95.72%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #4e2c8b;
}
.wrapper {
  width: 450px;
  display: block;
  margin: 30px auto;
  background: radial-gradient(rgb(85, 75, 117) 0%, rgb(53, 32, 133) 100%);
  border: 1px solid #3535ce;
  border-radius: 30px;
  overflow: hidden;
}
.searchbar {
  margin: 20px auto 0;
  display: block;
}
.searchholder {
  margin: 30px auto;
  width: 300px;
}
.cityname {
  font-family: "Abel", sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 50px;
  display: block;
  text-align: center;
  margin-bottom: 0;
}
.weathericon {
  max-width: 250px;
  height: 170px;
  display: block;
  margin: 0px auto -20px;
}
.states {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.degree {
  display: block;
  flex-basis: 50%;
  text-align: right;
  font-family: "Abel";
  font-size: 32px;
  color: white;
  margin: 0px 10px 0 -10px;
}
#celfar {
  display: block;
  flex-basis: 50%;
  font-family: "Abel";
  font-size: 32px;
  color: white;
}
#cel,
#far {
  text-align: center;
  font-family: "Abel";
  font-size: 32px;
  color: white;
  cursor: pointer;
}
#cel a:link,
#cel a:visited,
#far a:link,
#far a:visited {
  color: white;
  text-decoration: none;
}
.degree a:hover {
  text-decoration: underline;
}
.realtime {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-family: "Abel";
  font-size: 22px;
  color: white;
}
.weatherstatus {
  display: block;
  flex-basis: 400px;
  margin: 0px auto 5px;
  text-align: center;
  font-family: "Abel";
  font-size: 22px;
  color: white;
}
.humidity {
  text-align: center;
  flex-basis: 50%;
  font-family: "Abel";
  font-size: 18px;
  color: white;
  margin: 10px auto;
}
.windspeed {
  text-align: center;
  flex-basis: 50%;
  font-family: "Abel";
  font-size: 18px;
  color: white;
  margin: 10px auto;
}
.address {
  text-align: center;
}
.weatherforcast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
  width: 435px;
  height: 410px;
  flex-direction: column;
  margin-left: 7px;
  margin-top: 18px;
  margin-bottom: 10px;
}
.forcastday {
  width: 218px;
  height: 122px;
  position: relative;
}
.forcastback {
  width: 211px;
  height: 136px;
}
.overweather {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -15px;
  right: -10px;
}
.forcastdegree {
  position: absolute;
  top: 13px;
  right: 147px;
  font-size: 40px;
  color: white;
  font-family: "Abel";
}
.forcasthumidity {
  position: absolute;
  top: 70px;
  right: 160px;
  font-size: 14px;
  color: #ebebf599;
  font-family: "Abel";
  margin: 0;
}
.forcastwindspeed {
  position: absolute;
  top: 90px;
  right: 135px;
  font-size: 14px;
  color: #ebebf599;
  font-family: "Abel";
  margin: 0;
}
.forcaststatus {
  position: absolute;
  top: 90px;
  right: 35px;
  font-size: 19px;
  color: #ebebf599;
  font-family: "Abel";
  margin: 0;
}
.forcastdayname {
  position: absolute;
  top: 7px;
  right: 106px;
  font-size: 18px;
  color: #ebebf599;
  font-family: "Abel";
  margin: 0;
}
